---
import Lucide from "@components/Lucide.astro";
import OpenCollective from "@components/supportUs/OpenCollective.astro";
import Layout from "@layouts/Layout.astro";
import { Image } from "astro:assets";

import SteamLogo from "@assets/icons/steam.svg";
import MicrosoftStoreLogoGrey from "@assets/logos/MicrosoftStoreLogoGrey.svg";
import AppleLogo from "@assets/logos/AppleLogo.svg";
import FoundersPackLogo from "@assets/founders-pack.svg";
import FoundersPackLogoMobile from "@assets/founders-pack-mobile.svg";

import { steam, microsoft } from "@assets/links";
import PlatformSelectionCardContent from "./_download/PlatformSelectionCardContent.astro";
---

<Layout title="Download">
    <div class="bg-neutral-900 ">
        <section class="container max-w-[1218px] py-12 mx-auto text-center">
            <div>
                <h1 class="text-4xl pb-4">
                    You are <span class="font-bold">one step away</span> from <br
                    /> downloading PixiEditor
                </h1>
            </div>
            <div
                class="grid grid-cols-[12fr_20fr] gap-3 mx-4 mt-4 max-md:flex max-md:flex-col"
            >
                <div class="flex flex-col gap-3">
                    <div
                        class="bg-neutral-800 p-2 rounded min-h-[211px] h-full"
                    >
                        <PlatformSelectionCardContent fullInfo={true} />
                    </div>
                    <div
                        class="bg-neutral-800 p-6 rounded flex flex-col justify-between gap-6"
                    >
                        <h2 class="text-xl font-medium">
                            PixiEditor in Stores
                        </h2>
                        <div class="flex justify-center">
                            <a
                                class="flex flex-col items-center w-24"
                                href={steam.store}
                            >
                                <Image
                                    src={SteamLogo}
                                    class="block h-8 w-8"
                                    alt=""
                                />
                                <p>Steam</p>
                            </a>
                            <!-- <a
                                class="flex flex-col items-center w-24"
                                href={microsoft.store}
                            >
                                <Image
                                    src={MicrosoftStoreLogoGrey}
                                    class="block h-8 w-8"
                                    alt=""
                                />
                                <p>Microsoft</p>
                            </a>
                            <a class="flex flex-col items-center w-24">
                                <Image
                                    src={AppleLogo}
                                    class="block h-8 w-8"
                                    alt=""
                                />
                                <p class="text-red-200">Apple</p>
                            </a> -->
                        </div>
                    </div>
                </div>
                <div
                    class="bg-founders py-6 px-12 max-md:px-6 rounded flex justify-between flex-col max-md:row-span-1"
                >
                    <div>
                        <div
                            class="flex justify-center items-center gap-4 flex-wrap"
                        >
                            <h2
                                class="text-3xl font-bold founders-gradient text-center"
                            >
                                Founder's Bundle
                            </h2>
                        </div>

                        <p class="text-sm text-neutral-400">
                            Support PixiEditor and get access to pre-configured
                            workspaces such as: 2D + voxel texturing, card
                            builder and reusable pixel art animation!
                        </p>
                    </div>
                    <picture class="py-4">
                        <source
                            srcset={FoundersPackLogoMobile.src}
                            media="(max-width: 500px)"
                        />
                        <Image
                            src={FoundersPackLogo}
                            alt="Founder's Bundle Logo"
                            class="w-full max-w-full h-auto"
                        />
                    </picture>
                    <form
                        class="flex flex-wrap gap-4 mt-4"
                        action="https://auth.pixieditor.net/content/createCheckoutSession"
                        method="POST"
                        id="purchaseForm"
                    >
                        <input
                            type="email"
                            name="Email"
                            required
                            placeholder="you@example.com"
                            class="flex-[1_1_66%] min-w-[200px] px-4 py-2 rounded bg-neutral-800 border border-neutral-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 text-white placeholder-gray-400"
                        />
                        <input
                            type="hidden"
                            name="ProductId"
                            value="PixiEditor.FoundersPack"
                        />
                        <button
                            type="submit"
                            class="flex-[1_1_30%] min-w-[120px] px-button-base bg-[#731BCA] hover:bg-[#801CDA] transition-colors flex items-center justify-center text-center rounded"
                        >
                            <Lucide
                                data="circle-dollar-sign"
                                class="align-middle mr-1"
                            />
                            Buy Now
                        </button>
                    </form>
                            <span class="text-sm w-[150px] hidden absolute md:absolute md:block bg-neutral-900 -right-[40px] top-[5px] rounded-lg px-2 py-1 rotate-14 border-solid border-2 border-rose-400 text-rose-400"
                                >Limited time offer</span
                            >
                </div>
                            <span class="text-neutral-600 text-sm text-left mt-4">Lowest price in the past 30 days: 100 PLN</span>
            </div>
        </section>
    </div>
    <section class="py-12">
        <OpenCollective />
    </section>
</Layout>

<style>
    .bg-founders {
        position: relative;
        border-radius: 8px;
        z-index: 0;
    }

    .bg-founders::before {
        content: "";
        position: absolute;
        inset: 0;
        border-radius: 8px;
        padding: 1px;
        background: linear-gradient(
            257.37deg,
            #832ed7 -0.25%,
            #9d42f8 23.74%,
            #dcb8ff 47.75%,
            #ab56ff 71.75%,
            #762bc0 95.75%
        );
        -webkit-mask:
            linear-gradient(#fff 0 0) content-box,
            linear-gradient(#fff 0 0);
        -webkit-mask-composite: xor;
        mask-composite: exclude;
        pointer-events: none;
        z-index: -1;
    }
</style>
