---
import { Image } from "astro:assets";
import Layout from '@layouts/Layout.astro';
import '@styles/global.css';
import TabScript from "./_index/TabScript.astro";
import ProgramComparison from "./_index/ProgramComparison.astro";
import fetchPixiEditorReviewStats from "./_index/SteamReviewExtractor";
import Lucide from "../components/Lucide.astro";
import UserReview from "./_index/UserReview.astro";

import SteamLogo from '@assets/logos/SteamLogo.svg';
import MicrosoftStoreLogo from '@assets/logos/MicrosoftStoreLogo.svg';

const tabFiles = import.meta.glob('./_index/tabs/*.astro', { eager: true });

const tabCollection = Object.entries(tabFiles).map(([_, module]: any) => {
    return {
        id: module.data.id,
        data: module.data,
        open: module.data.order === 0,
        content: module.default,
    };
}).sort((o1, o2) => o1.data.order - o2.data.order);

const steamReviewData = import.meta.env.DEV
    ? { totalReviews: 121, positivePercentage: 91 }
    : await fetchPixiEditorReviewStats();
---

<Layout fullTitle="PixiEditor">
    <section class="container mx-auto flex flex-col items-center text-center mt-10">
        <h2 class="text-pc-softpixired">Open source & free</h2>
        <h1 class="text-2xl font-bold">
            Universal 2D graphics platform <br>
            - one to rule them all</h1>

        <a class="px-button-soft mt-6" href="/download">Download now!</a>
    </section>

    <section class="container max-w-screen-lg mx-auto">
        <div class="flex justify-center gap-6 max-md:hidden mt-14">
            {tabCollection.map((tab) => (
                    <button class="w-28 flex flex-col items-center tab-button" name={tab.id} id=`${tab.id}-button` aria-controls={tab.id} role="tab">
                        <tab.data.iconType
                                data={tab.data.icon}
                                class={`text-5xl text-${tab.data.colorClass}`}
                        />
                        <h2 class="font-semibold mt-3">
                            {tab.data.title}
                        </h2>
                        <div class=`opacity-0 aria-selected-parent:opacity-100 rounded-full bg-${tab.data.colorClass} w-full h-[3px]`></div>
                    </button>
            ))}
        </div>

        <div class="mt-6">
            {tabCollection.map((tab) => (
                    <details name="features" id={tab.id} class="tab-panel" open={tab.open} role="tabpanel" aria-labelledby=`${tab.id}-button`>
                        <summary class="md:hidden list-none flex justify-between items-center px-6 py-3 border-b border-b-neutral-700">
                            <div>
                                <tab.data.iconType
                                        data={tab.data.icon}
                                        class={`text-2xl inline align-middle text-${tab.data.colorClass}`}
                                />
                                <h2 class={`font-bold inline align-middle`}>
                                    {tab.data.title}
                                </h2>
                            </div>
                            <tab.data.iconType data="chevron-down" />
                        </summary>

                        <div class="bg-neutral-900 w-full md:h-[37rem] lg:rounded p-4">
                            <tab.content />
                        </div>
                    </details>
            ))}
        </div>

        <TabScript />
    </section>

    <div class="bg-neutral-900 mt-12 py-12">
        <section class="container mx-auto">
            <h1 class="text-center text-3xl">What <span class="font-bold">can you make</span> in PixiEditor?</h1>
        </section>
    </div>

    <section class="container mx-auto py-12">
        <h1 class="text-center text-3xl">What program <span class="font-bold">is the best</span> for me?</h1>

        <ProgramComparison />
    </section>

    <div class="bg-neutral-900 mt-12 py-12">
        <section class="container mx-auto">
            <h1 class="text-center text-3xl">Explore our <span class="font-bold">roadmap</span></h1>

            <div class="overflow-auto max-md:pb-3">
                <div class="flex w-fit gap-6 mt-12 px-4 mx-auto">
                    <div class="w-72 bg-neutral-800 p-4 rounded text-lg">
                        <h1 class="text-3xl">Q1 2025</h1>
                        <ul class="list-disc ps-6">
                            <li>Awesome feature</li>
                            <li>More cool shit</li>
                            <li>Lots of stuff</li>
                            <li>Lorem</li>
                            <li>Ipsum</li>
                        </ul>
                    </div>

                    <div class="w-72 bg-neutral-800 p-4 rounded text-lg">
                        <h1 class="text-3xl">Q2 2025</h1>
                        <ul class="list-disc ps-6">
                            <li>Coming soon...</li>
                            <li>Exciting plans ahead...</li>
                            <li>Stay tuned!</li>
                        </ul>
                    </div>

                    <div class="w-72 bg-neutral-800 p-4 rounded text-lg">
                        <h1 class="text-3xl">Q3 2025</h1>
                        <ul class="list-disc ps-6">
                            <li>More updates coming soon...</li>
                            <li>Innovative features on the way...</li>
                            <li>Keep an eye on this space!</li>
                            <li>Ipsum had a Lorem</li>
                            <li>But Lorem Ipsumd too hard</li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
    </div>

    <section class="container mx-auto py-12 max-w-screen-lg p-12">
        <h1 class="text-center text-3xl mb-3">What are <span class="font-bold">the User</span> saying?</h1>
        <p class="text-center text-sm">*Reviews were given to PixiEditor 1.0 (pixel art editor)</p>

        <div class="grid md:grid-cols-2 gap-6 mt-12">
            <div class="rounded text-center bg-neutral-700">
                <div class="mx-auto bg-neutral-600 p-2 rounded-t flex justify-center gap-2">
                    <Image class="w-6 h-6" width="24" height="24" src={SteamLogo} alt="" />
                    Steam
                </div>
                <p class="text-7xl font-extrabold my-3">{steamReviewData.positivePercentage.toFixed(0)}%</p>
                <p class="pb-3">positive reviews <span class="font-bold">out of {steamReviewData.totalReviews}</span></p>
            </div>
            <div class="max-md:hidden rounded text-center bg-neutral-700">
                <div class="mx-auto bg-neutral-600 p-2 rounded-t flex justify-center gap-2">
                    <Image class="w-6 h-6" width="24" height="24" src={MicrosoftStoreLogo} alt="" />
                    Microsoft Store
                </div>
                <div class="flex justify-center items-center">
                    <span class="text-7xl font-extrabold my-3">4.4</span>
                    <span class="text-2xl ms-3 mt-3 text-pc-softpixired">
                        <Lucide data="star" />
                        <Lucide data="star" />
                        <Lucide data="star" />
                        <Lucide data="star" />
                        <Lucide data="star-half" />
                    </span>
                </div>
                <p class="pb-3">based on <span class="font-bold">220 ratings</span></p>
            </div>
        </div>

        <div class="flex gap-6 mt-6">
            <div class="w-full md:w-1/2 flex flex-col gap-6">
                <UserReview author="MilkShakeManiac" date="10.03.2024" platform={SteamLogo}>
                    My 9 Year old spends so much time in PixiEditor creating pixel art from all sorts of themes from Marvel to Jurassic World and MORE! It's easy to use with a lot of handy tools and features. If it's even easy to use for a 9 year old, who would not want to use PixiEditor... I'ts Great, Simply... Outstanding!!!
                </UserReview>
                <UserReview author="Logid" date="27.02.2023" platform={SteamLogo}>
                    Pixi is a feature rich pixel editor that coming from photoshop or similar software, you'll feel at home within seconds, and for the price of FREE, you'd be a fool to not download it and give it a try.
                </UserReview>
            </div>
            <div class="w-1/2 max-md:hidden flex flex-col gap-6">
                <UserReview author="Uriel" date="21.09.2024" platform={MicrosoftStoreLogo}>
                    The truth is that it is very good, it is one of the best applications to draw in pixel art :)
                </UserReview>
                <UserReview author="José Raphael" date="12.04.2024" platform={MicrosoftStoreLogo}>
                    I loved it, of all the pixel art programs I provide this one has the most professional interface, which helped me adapt and understand it quickly.
                </UserReview>
                <UserReview author="Dakota" date="28.03.2024" platform={MicrosoftStoreLogo}>
                    I have only used this for a few minutes and I already know how to do pretty much anything I want. I really liked using this and I would definitely recommend this to others.
                </UserReview>
            </div>
        </div>
    </section>

    <section class="container mx-auto py-12">
        <h1 class="text-center text-3xl">Become a part of the <span class="font-bold">PixiEditor community</span></h1>
    </section>

    <section class="container mx-auto py-12">
        <h1 class="text-center text-3xl"><span class="font-bold">Support us with</span></h1>
    </section>

</Layout>
