---
import ChannelPill from "./ChannelPill.astro";
import Lucide from "@components/Lucide.astro";
import DiscordLogoFull from '@assets/logos/DiscordLogoFull.svg';
import Image from "astro/components/Image.astro";
import { forum, discordInvites } from '@assets/links';
---

<div class="overflow-hidden flex flex-col gap-8 mt-10 py-4 items-center text-xl">
    <p class="whitespace-nowrap"><ChannelPill emoji="â“">help</ChannelPill><ChannelPill emoji="ðŸ¤£">memes</ChannelPill><ChannelPill background={false} emoji="ðŸ”€" href={discordInvites.chatChannel}>chat</ChannelPill>with artists all over the world!<ChannelPill emoji="â“">help</ChannelPill><ChannelPill emoji="ðŸ¤£">memes</ChannelPill></p>
    <p class="whitespace-nowrap"><ChannelPill emoji="ðŸ”€">chat</ChannelPill><ChannelPill emoji="ðŸ“¢">announcements</ChannelPill>Take part in our <ChannelPill emoji="ðŸŽ¨ðŸ“†" background={false} href={discordInvites.aotwChannel}>art-of-the-week</ChannelPill><ChannelPill emoji="ðŸ”€">chat</ChannelPill><ChannelPill emoji="ðŸ“¢">announcements</ChannelPill></p>
    <p class="whitespace-nowrap"><ChannelPill emoji="ðŸ’¬">project</ChannelPill><ChannelPill emoji="ðŸŽ¨ðŸ§¬">procedural-art</ChannelPill>Get <ChannelPill emoji="â“" background={false} href={discordInvites.helpChannel}>help</ChannelPill> from experts<ChannelPill emoji="ðŸ’¬">project</ChannelPill><ChannelPill emoji="ðŸŽ¨ðŸ§¬">procedural-art</ChannelPill></p>
    <p class="whitespace-nowrap"><ChannelPill emoji="ðŸ¤£">memes</ChannelPill><ChannelPill emoji="ðŸ”€">chat</ChannelPill>Talk about the <ChannelPill background={false} emoji="ðŸ’¬" href={discordInvites.projectChannel}>project</ChannelPill><ChannelPill emoji="ðŸ¤£">memes</ChannelPill><ChannelPill emoji="ðŸ”€">chat</ChannelPill>
</div>

<div class="flex max-sm:flex-col justify-center gap-6 mt-10 mx-4">
    <div class="px-1 has-[:hover]:px-0 transition-all">
        <a class="px-5 py-4 flex justify-center items-center bg-discord-blurple rounded hover:px-6 transition-all" href={discordInvites.projectChannel} target="_blank">
            <Image src={DiscordLogoFull} width="152" height="43" alt="Discord" />
        </a>
    </div>
    <div class="px-1 has-[:hover]:px-0 transition-all">
        <a class="px-5 max-md:py-3 h-full flex justify-center items-center bg-pc-softpixired text-xl rounded hover:px-6 transition-all" href={forum.index} target="_blank">
            <Lucide class="align-middle text-3xl me-3" data="messages-square" />
            PixiEditor Forum
        </a>
    </div>
</div>