---
import PixiEditorNav from "@components/navs/PixiEditorNav.astro";
interface BaseProps {
	/**
	 * If true the content will not be placed inside a <main> element
	 */
	notMain?: boolean;
	class: string;
}

// Either title or fullTitle must be set
type Props =
	| (BaseProps & {
		/**
		 * Specifies the Page title as `${title} | PixiEditor`. Use fullTitle if you do not want PixiEditor to be appended
		 */
		title: string;
		fullTitle?: never
	})
	| (BaseProps & {
		title?: never;
		/**
		 * Specifies the full Page Title. Use title if you want PixiEditor appended like `${title} | PixiEditor`
		 */
		fullTitle: string
	});

const { title, fullTitle, notMain, class: className, ...rest } = Astro.props;

const pageTitle = title
	? `${title} | PixiEditor`
	: fullTitle;

import '../styles/global.css';
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{pageTitle}</title>
	</head>
	<body class="m-0 w-full h-full bg-neutral-800 text-white">
		<PixiEditorNav />

		{notMain ? <slot /> : <main class={className} {...rest}><slot /></main>}
	</body>
</html>
